*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* Header */
.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 30px;
    background:white;
}

.logo-left{
    width:90px;
    height:auto;
}

.heading{
    width:650px;
    height:auto;
}

.logo-right{
    width:80px;
    height:auto;
}

/* Navigation Bar */

nav{
    background:#003366;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    position:relative;
}

nav ul li a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 22px;
    font-size:17px;
}

nav ul li:hover{
    background:#2278b2;
}

/* Dropdown */

.dropdown-content{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:white;
    min-width:220px;
    box-shadow:0 5px 10px rgba(0,0,0,.3);
}

.dropdown-content li{
    width:100%;
}

.dropdown-content li a{
    color:black;
    padding:12px 18px;
}

.dropdown-content li:hover{
    background:#8e6e6e;
}

.dropdown:hover .dropdown-content{
    display:block;
}

/* Banner */

.hero img{
    width:100%;
    display:block;
}